<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
	<listener>
        <listener-class>hr.fer.zemris.java.hw13.aplikacija2.timeinfo.RuntimeListener</listener-class>
    </listener>
  <display-name>Domaca zadaca</display-name>
  <description>
     Domaca zadaca no 13
  </description>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Stranice za administraciju</web-resource-name>
      <url-pattern>/sig</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>  
  <security-role>
    <description>Administrator sustava</description>
    <role-name>administrator</role-name>
  </security-role>  
  
</web-app>